import React from 'react'
import './{{pascalCase name}}-page.scss'



const {{pascalCase name}}Page = () => {
return (
<div className="{{pascalCase name}}Page">
  <h2>Caminho {{dashCase folder}}</h2>
  <pre>
    <code>src/projects/{{dashCase folder}}/pages/{{pascalCase name}}-page/{{pascalCase name}}-page.tsx</code>
  </pre>
</div>
)}

export default {{pascalCase name}}Page
